
  <div>

  </div>
  {% schema %}
  {
    "name": "Product Reviews",
    "target": "section",
    "javascript": "xxx.js",
    "stylesheet": "xxx.css",
    "templates": ["product"],
    "settings":[]
  }
  {% endschema %}
